//Page Style 1
.page-style-1 {
    background: #000;
    overflow: hidden;
    .page-title {
        background: #AC1E3C;
        padding: 278px 0 0;
        color: #fff;
        position: relative;
        margin-bottom: 68px;
        @media (max-width: 768px) {
            padding-top: 40vw;
            margin-bottom: 20px;
            .headline {
                font-size: 2.8rem !important;
                line-height: 2.6rem;
            }
        }
        &:before {
            content: "";
            width: 100%;
            height: 281px;
            background-image: linear-gradient(180deg, rgba(89, 131, 252, 0) 0%, rgba(0, 0, 0, 1) 100%);
            position: absolute;
            left: 0;
            bottom: 0;
        }
        .headline {
            text-transform: uppercase;
        }
    }
    .headline__container {
        position: relative;
        z-index: 1;
    }
    .wp-block-columns {
        background: #fff;
        margin: 18px 0;
        .wp-block-column {
            padding: 20px;
        }
    }
    .footer-block {
        margin-top: 60px;
    }
}
//Page Style 2
.page-style-2 {
    background-size: cover !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
    &.contain {
        background-size: contain !important;
    }
    .content-page {
        background: #fff;
        padding: 0 4%;
	    max-width: 732px;
	    margin: 0 auto;
        .wp-block-quote {
            margin: 0 0 1.4rem;
            letter-spacing: 0;
            padding: 0;
            p {
                margin-left: 0;
                font-style: normal;
                letter-spacing: 0;
            }
            &.is-style-large {
                p {
                    margin-left: 0;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 38px;
                    letter-spacing: 0;
                }
            }
            cite {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 23px;
                text-transform: uppercase;
                color: #AC1E3C;
                text-align: left;
                strong {
                    display: block;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 23px;
                    text-transform: none;
                    color: #000;
                    margin-top: 5px;
                }
            }
        }
        a {
            color: #b41e3a;
        }
    }
    .wp-block-spacer {
        height: 75px;
    }
}

.content-page p[style] {
    line-height: 1.125;
}
.content-page p {
    strong {
        a {
            font-weight: bold;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

//Page style 3
.page-style-3 {
    background: linear-gradient(180deg, #C4C4C4 0%, #000 80%, rgba(196, 196, 196, 0) 100%);
    background-color: #000;
    .page-banner {
        + .own-separator {
            margin-top: 18px;
        }
        margin-bottom: 0 !important;
    }
    .cards {
        box-shadow: 0 18px 36px #00000040;
        &:last-of-type {
            margin-bottom: 73px;
        }
    }
}

// Card - L
.cards {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 18px 0;
    @media (min-width: 768px) {
        flex-direction: row;
    }
    .card-image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
        @media (max-width: 767px) {
            margin: 0 auto 0;
            width: 100%;
        }
    }
    .card-more {
        font-weight: bold;
        font-size: 20px;
        font-family: "RobotoSlab", "helvetica";
        color: #000;
        text-decoration: none;
    }
    .card-content {
        padding: 65px 56px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //color: #000;
        //font-size: 16px;
        //line-height: 23px;
        //font-weight: normal;
        @media (max-width: 767px) {
            text-align: left;
        }
        @media (min-width: 768px) {
            width: calc(100% - 390px);
        }
        h2,h3,h4,h5,h6 {
            font-family: "RobotoSlab", "helvetica";
            color: #AC1E3C;
            font-weight: bold;
            letter-spacing: 0;
            em {
                font-style: normal;
                font-weight: normal;
                color: #000;
            }
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
    &.card-l {
        background: #D1D1D1;
        .card-image {
            @media (min-width: 768px) {
                width: 390px;
                order: 1;
            }
        }
    }
    &.card-r {
        background: #fff;
        .card-image {
            @media (min-width: 768px) {
                width: 390px;
            }
        }
        .card-content {
            @media (min-width: 768px) {
                width: calc(100% - 390px);
            }
        }
    }
    &.reports {
        background: #F6F6F6;
        .card-image {
            @media (min-width: 768px) {
                width: 330px;
            }
        }
        .card-content {
            @media (min-width: 768px) {
                width: calc(100% - 330px);
            }
        }
        &.right {
            background: #D1D1D1;
            text-align: left;
            .card-image {
                @media (min-width: 768px) {
                    order: 1;
                }
            }
        }
        &.left_grey {
            background: #D1D1D1;
        }
    }
}

//Footer Block
.footer-block {
    margin: 0 calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;
    &.white {
        background-color: #fff;
    }
    &.red {
        background-color: #AC1E3C;
    }
    &.black {
        background-color: #000;
    }
    &.image {
        padding-top: 80vh;
        position: relative;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
            top: 0;
        }
        .footer-block_inside {
            position: relative;
            z-index: 2;
        }
    }
}
.footer-block_inside {
    background: #AC1E3C;
    padding: 56px 34px 45px;
    max-width: 732px;
    margin: 0 auto;
    color: #fff;
    @media (min-width: 768px) {
        padding-right: 0;
    }
    .menu {
        font-weight: 700;
        font-size: 13px;
        line-height: 17px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin: 0;
        &:before {
            display: none;
        }
        a {
            color: #fff;
            font-weight: 700;
            text-decoration: none;
            letter-spacing: 0.02em;
        }
    }
    a {
        color: #fff !important;
        font-weight: 700;
        text-decoration: none;
        font-size: 13px;
        line-height: 17px;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        &:hover {
            text-decoration: underline;
        }
    }
    .title {
        margin: -15px 22px 20px 0;
        min-width: 125px;
        font-size: 22px;
        line-height: 26px;
    }
    .footer-block_content {
        display: flex;
        position: relative;
        flex-direction: column;
        @media (min-width: 768px) {
            flex-direction: row;
            .left-footer {
                width: 180px;
            }
            .right-footer {
                width: calc(100% - 180px);
                .menu {
                    //display: flex;
                    //flex-wrap: wrap;
                    columns: 250px 2;
                    li {
                        width: 100% !important;
                    }
                }
            }
        }
        @media (max-width: 767px) {
            .left-footer {
                a {
                    display: block;
                    margin-bottom: calc(1.4rem / 2);
                }
            }
        }
    }
}

//Page title
.page-banner {
    margin: 0 calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
	position: relative;
	color: #fff;
	min-height: 334px;
	background-color: #000;
	margin-bottom: 30px;
    @media (min-width: 768px) {
        margin-bottom: 40px;
    }
    @media (max-width: 768px) {
        min-height: 40vw;
    }
	.page-banner_bg {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0 calc(50% - 50vw);
    	max-width: 100vw;
    	width: 100vw;
    	max-height: 334px;
    	overflow: hidden;
    	z-index: 0;
    	img {
    	    width: 100%;
    	    height: 334px;
    	    object-fit: cover;
    	    @media (max-width: 768px) {
                height: 40vw;
            }
    	}
	}
	.banner__container {
	    min-height: 334px;
	    max-height: 334px;
        position: relative;
        z-index: 3;
        @media (max-width: 768px) {
            min-height: 40vw;
	        max-height: 40vw;
	        h1 {
                font-size: 2.8rem !important;
                line-height: 2.6rem;
	        }
        }
        h1 {
            text-transform: uppercase;
        }
	}
	.headline__container_optional {
	    position: relative;
	    &:before {
	        content: "";
	        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 34.22%, #000000 100%);
	        height: 281px;
	        position: absolute;
	        left: 0;
	        right: 0;
	        top: -281px;
	        z-index: 2;
	    }
	}
	.container_optional_inside {
	    padding: 3% 4%;
	    max-width: 732px;
	    margin: 0 auto;
	    @media (max-width: 768px) {
	        padding-bottom: 3em;
	    }
	    p:last-child {
	        margin-bottom: 0;
	    }
	}
}
.banner__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 100%;
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    @media (min-width: 1024px) {
        max-width: 1540px;
    }
}

//Full Image
.full-width-image {
    margin: 0 calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;
    &.s-full {
        img {
            margin: 0 calc(50% - 50vw);
            max-width: 100vw;
            width: 100vw;   
            display: block;
        }

    }
    &.s-medium {
        img {
            margin: 0 calc(50% - 26vw);
            max-width: 52vw;
            width: 52vw;
            @media (max-width: 768px) {
                margin: 0 calc(50% - 50vw);
                max-width: 100vw;
                width: 100vw;
            }
        }

    }
    img {
       margin-top: 1.4rem !important;
    }
    
    &.white {
        background-color: #fff;
    }
    &.red {
        background-color: #AC1E3C;
    }
    &.black {
        background-color: #000;
    }
}

//Separator
.own-separator {
    display: flex;
    justify-content: center;
    img {
        margin: 0;
        width: 64px;
    }
}

//Faq
.schema-faq-question {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #AC1E3C;
    margin-bottom: 16px;
    display: block;
}
.schema-faq-section {
    margin-bottom: 40px;
}

//Grey box
.grey-box {
    margin: 0 calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;
}
.content-box-grey {
    background: #C4C4C4;
    position: relative;
    z-index: 1;
    padding: 36px 4%;
    max-width: 732px;
    margin: 30px auto 0;
    p:last-child {
        margin-bottom: 0;
    }
}

//Form box
.form-box {
    margin: 0 calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;
    background: #AC1E3C;
}
.content-box-form {
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 36px 4%;
    max-width: 732px;
    margin: 0 auto;
    p:last-child {
        margin-bottom: 0;
    }
    input[type="text"] {
        border: 1px solid #000;
    }
    .acf-fields > .acf-field,
    .acf-form-submit {
        padding: 12px 0;
        border: none;
    }
    .acf-form-submit {
        .acf-button {
            border: none;
            font-family: "RobotoSlab";
            text-transform: uppercase;
            font-weight: bold;
            background: #AC1E3C;
            color: #fff;
            padding: 10px 40px;
            border: 1px solid #AC1E3C;
            cursor: pointer;
            &:hover {
                background: #fff;
                color: #AC1E3C;
            }
        }
    }
}


//First letter
.has-drop-cap:not(:focus):first-letter {
    font-size: 1.5rem !important;
    color: #AC1E3C;
    font-weight: bold;
    line-height: inherit;
    vertical-align: top!important;
    margin-top: -2px !important;
}

/* Location */
.location-block {
    background-color: #fff;
    + .footer-block {
        margin-top: 0 !important;
    }
}
.top-gallery {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border: 2px solid #fff;
    a {
        display: block;
        width: 25%;
        position: relative;
        overflow: hidden;
        border: 2px solid #fff;
        pointer-events: none;
        &:before {
            content: "";
            padding-top: 56.25%;
            display: block;
        }
    }
    P {
        display: none !important;
    }
    img {
        width: 115%;
        height: 115%;
        object-fit: cover;
        margin: 0;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.location-lists {
    padding: 40px 50px;
    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .col {
           width: 45%;
        }
    }
    .title {
        color: #AC1E3C;
    }
    ul {
        list-style-type: none;
        margin: 0;
        -moz-column-count: 2;
        column-count: 2;
        grid-column-gap: 30px;
        column-gap: 30px;
        font-size: 0.95rem;
        display: block;
        width: 100%;
        @media (min-width: 1360px) {
            -moz-column-count: 3 !important;
            column-count: 3 !important;
        }
        li {
            -moz-column-break-inside: avoid;
            break-inside: avoid;
            page-break-inside: avoid;
            width: 100%;
            display: block;
            position: relative;
            clear: both;
            overflow: hidden;
            max-width: 85%;
            @media (min-width: 1360px) {
                width: 100%;
            }
            span {
                display: block;
                clear: both;
            }
        }
        a {
            text-decoration: none;
            color: #333;
            &:hover {
                text-decoration: underline;
            }
        }
        a[href="#"] {
            pointer-events: none;
        }
    }
}

.soon-box {
    background: #AC1E3C;
    padding: 20px 20px 10px;
    color: #fff !important;
    margin-top: 1.5rem;
    @media (max-width: 767px) {
        margin-bottom: 2.5rem !important;
    }
    a,.title {
        color: #fff !important;
    }
    .title {
        margin-bottom: 0.5rem;
    }
    ul {
        justify-content: flex-start;
        li {
            @media (min-width: 1360px) {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1023px) {
    body .header.open-menu .header__menu a {
        display: block;
    }
    body .header.open-menu .header__menu .mobile-wrap {
        height: calc(100vh - 60px);
        overflow-y: scroll;
        display: flex;
        flex-direction: column-reverse;
    }
}